@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

:root {
  --bg: #f8f8fb;
  --surface: #ffffff;
  --surface-light: #f3f3f7;
  --text: #222222;
  --text-secondary: #666666;

  /* Punchy Pink */
  --accent: #f55d71;
  --accent-hover: #ff4f9e;
  --border: #dddddd;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* ================= DISPLAY ================= */

h1 {
  font-family: "Bebas Neue", sans-serif;
}

#container {
  background-color: var(--surface);
  flex-shrink: 1;
}

body {
  background-color: var(--bg);
}

#displayArea {
  min-height: 200px;
  max-height: 400px;
  height: 250px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background: var(--surface);
  border: 1px solid var(--border);
  border-radius: 16px;

  overflow-y: auto;
}

/* ================= MOVIE CARD ================= */

.movie {
  padding: 14px 18px;

  background: var(--surface-light);
  color: var(--text);

  border-left: 5px solid var(--accent);
  border-right: 4rem solid var(--accent);
  border-radius: 10px;

  font-weight: 500;
  transition: 0.5s ease;
}

.movie:hover {
  transform: translateX(10px);
  background: #ffe7f2;
}

fieldset {
  display: none;
}

input[type="checkbox"] {
  accent-color: var(--accent);
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#bottomInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-wrap: 1;
}
